@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Nunito";
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    color: white;
    background: black;
}
nav .logo{
    padding-left: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 17px;
}
nav .nav-links ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-left: 3rem;
}
nav .nav-links ul li{
    padding: 0px 15px;
}
nav .nav-links ul li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
}
nav .nav-links ul li a:hover{
    color: rgb(250, 103, 250);
}
